.name-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
}

.heading {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  font-size: 4rem;
  height: auto;
  text-decoration: underline;
}

.border {
  border: 1px solid gray;
  padding: 20px;
}

.border p {
  margin-top: 20px;
  font-size: 2rem; 
}

ul {
  display: flex;
  flex-direction: column; 
  align-items: start; 
  list-style: none; 
  margin-top: 1rem;
  padding: 10px; 
  font-size: 1.3rem;
}

li {
  width: 100%;
  padding: 5px;
  text-align: start;
  border: 1px solid #1d3df0;
  background: gainsboro;
  margin: 5px 0;
  position: relative;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  transform-style: preserve-3d;
}

li:nth-child(odd):hover {
  transform: rotateY(15deg) translateZ(30px) scale(1.05); 
}

li:nth-child(even):hover {
  transform: rotateX(0deg) translateZ(30px) scale(1.05);
}

li:nth-child(odd) {
  border-top-right-radius: 50px;
}

li:nth-child(even) {
  border-bottom-left-radius: 15px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .heading {
    font-size: 3rem; 
  }

  .border p {
    font-size: 1.5rem; 
  }

  ul {
    font-size: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 2.5rem; 
  }

  .border p {
    font-size: 1.2rem; 
  }

  ul {
    font-size: 1rem; 
  }

  li {
    padding: 10px;
  }
}