.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar .nav-brand {
  position: absolute; 
  top: 0px; 
  left: 10px; 
}

.navbar .nav-brand img{
  object-fit: cover;
  height: 150px;
  width: 100px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 8rem;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  padding: 10px 15px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.navbar .nav-links a:hover {
  background-color: #555;
  border-radius: 4px;
}

.navbar .nav-links a.active {
  background-color: #04aa6d;
  border-radius: 4px;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 3rem;
  position: relative;
}

.hamburger .bar {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Transformations for open state */
.hamburger.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-brand img {
    display: none;
  }
  
  .nav-links {
    position: absolute;
    top: 60px;
    /* right: 0px; */
    background-color: #333;
    width: 100%;
    height: calc(50vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav-links.open {
    transform: translateX(0%);
    margin: 0px;
    right: 0px;
    padding: 0px;
  }

  .nav-links a {
    margin: 10px 0;
    font-size: 20px;
  }

  .hamburger {
    display: flex;
  }
}

body {
  padding-top: 60px;
}
